<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container">

      <h2>About us</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui illo
        pariatur dolores maxime perferendis facere. Qui cum sit commodi tenetur!
      </p>
      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>